*,
*::before,
*::after {
  box-sizing: border-box; }

@keyframes BackAnim {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Flicker {
  0% {
    opacity: 0.8; }
  10% {
    opacity: 0.5; }
  20% {
    opacity: 0.9; }
  30% {
    opacity: 0.7; }
  40% {
    opacity: 0.9; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0.9; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.9; }
  90% {
    opacity: 0.8; }
  100% {
    opacity: 0.9; } }
html {
  background: #051D29 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAIAQMAAAAC1AcCAAAABlBMVEUAAAEAAAAd296qAAAAAnRSTlMzGn+aUXIAAAANSURBVAjXY2iAQigAABgQAgEG08l5AAAAAElFTkSuQmCC") repeat 300% 300%;
  color: #93EDF5;
  text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.83);
  font-family: '"Source Code Pro"', monospace;
  font-size: 1rem;
  animation: BackAnim 10s ease-in-out infinite; }
  @media screen and (min-width: 800px) {
    html {
      font-size: 1.1rem; } }

.flick {
  animation: Flicker 10s ease-in-out infinite; }

body {
  line-height: 1.6; }

html,
body {
  margin: 0; }

h1,
p,
figure,
pre,
blockquote {
  margin: 0 0 1rem; }

p, ol, ul {
  text-align: justify; }

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #686868; }

figure .representation {
  display: block;
  margin: 0 0 .5rem; }

figure {
  text-align: center; }

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: right; }
  figcaption .original::before {
    content: ' ';
    display: block; }

img {
  max-width: 100%; }

blockquote {
  padding: 1rem;
  border-left: 5px solid #e5e5e5;
  color: #686868;
  font-style: italic; }
  blockquote p {
    margin: 0; }
  blockquote cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right; }

a {
  text-decoration: none;
  padding: 2px 0;
  color: #fd34b2;
  text-shadow: 0px 0px 5px #ff2b2b; }
  a:hover {
    border-bottom-color: currentColor;
    color: #ff2b2b; }

ol,
ul {
  margin: 0 0 1rem 2.25rem;
  padding: 0;
  list-style-position: outside; }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0; }

li {
  margin: 0; }
  li:not(last-of-type) {
    margin-bottom: .4rem; }

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help; }

kbd,
code,
pre {
  font-family: '"Source Code Pro"', monospace; }

pre {
  max-width: 100%; }

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0; }

p code {
  background: #000;
  color: lime;
  display: inline-block;
  border-radius: 5px;
  font-family: '"Source Code Pro"', monospace;
  font-size: 0.8rem;
  padding: 0px 5px 2px; }

article,
section {
  display: block;
  margin-bottom: 1rem; }

h1 {
  font-size: 1.5rem; }

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1.15rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: .5rem; }
  @media screen and (min-width: 800px) {
    .container {
      padding: 1rem 0; } }

.site-header,
.site-nav {
  margin-bottom: 1rem; }
  .site-header h1,
  .site-nav h1 {
    margin-bottom: .5rem; }

.site-nav a::before {
  content: '\21b0';
  margin-right: .25rem; }

.site-footer {
  margin: 3rem 0 0;
  font-size: .8125rem; }
  .site-footer [itemprop="sameAs"] + [itemprop="sameAs"] {
    margin-left: .4rem; }
  @media screen and (min-width: 800px) {
    .site-footer {
      margin-bottom: .5rem; } }

.posts ol {
  margin-left: 0;
  list-style: none; }
.posts li {
  margin-bottom: .5rem; }
  @media screen and (min-width: 800px) {
    .posts li {
      display: flex;
      flex-direction: row; } }
.posts time {
  display: block; }
  @media screen and (min-width: 800px) {
    .posts time {
      flex: 0 0 5rem; } }
  .posts time + a {
    margin-left: 1rem; }
    @media screen and (min-width: 800px) {
      .posts time + a {
        margin-left: 2rem; } }

.post .post-header {
  margin-bottom: 3rem; }
.post .post-date {
  display: block;
  margin: 0 0 1rem;
  text-align: right; }

.hljs {
  font-size: .7rem; }

pre.example {
  background: #3f3f3f;
  padding: 10px;
  font-size: 0.7rem;
  color: #dcdccc;
  margin-top: -17px;
  border-radius: 0 0 10px 10px; }

ol {
  list-style: none;
  counter-reset: item; }

ol > li {
  counter-increment: item;
  margin-bottom: 5px; }

ol > li:before {
  content: "<" counter(item);
  color: #ff2b2b;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  font-weight: bold; }

ol > li:after {
  content: " />";
  color: #ff2b2b;
  opacity: 0.5; }

li p {
  margin: 0;
  display: inline; }

.timestamp {
  font-family: '"Source Code Pro"', monospace !important;
  text-transform: uppercase; }

.glitch {
  position: relative; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #3fff2d;
    top: 0;
    background: #fdf6e3;
    overflow: hidden;
    animation: noise-anim 8s infinite linear alternate-reverse; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #001eff;
    top: 0;
    background: #fdf6e3;
    overflow: hidden;
    animation: noise-anim-2 30s infinite linear alternate-reverse; }

@keyframes noise-anim {
  0% {
    clip-path: inset(60% 0 15% 0); }
  10% {
    clip-path: inset(81% 0 2% 0); }
  20% {
    clip-path: inset(31% 0 23% 0); }
  30% {
    clip-path: inset(69% 0 24% 0); }
  40% {
    clip-path: inset(49% 0 8% 0); }
  50% {
    clip-path: inset(88% 0 11% 0); }
  60% {
    clip-path: inset(3% 0 29% 0); }
  70% {
    clip-path: inset(98% 0 2% 0); }
  80% {
    clip-path: inset(18% 0 83% 0); }
  90% {
    clip-path: inset(72% 0 14% 0); }
  100% {
    clip-path: inset(79% 0 21% 0); } }
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(54% 0 11% 0); }
  3.33333% {
    clip-path: inset(38% 0 2% 0); }
  6.66667% {
    clip-path: inset(92% 0 7% 0); }
  10% {
    clip-path: inset(29% 0 60% 0); }
  13.33333% {
    clip-path: inset(93% 0 4% 0); }
  16.66667% {
    clip-path: inset(11% 0 18% 0); }
  20% {
    clip-path: inset(12% 0 12% 0); }
  23.33333% {
    clip-path: inset(68% 0 9% 0); }
  26.66667% {
    clip-path: inset(48% 0 26% 0); }
  30% {
    clip-path: inset(35% 0 12% 0); }
  33.33333% {
    clip-path: inset(72% 0 26% 0); }
  36.66667% {
    clip-path: inset(67% 0 28% 0); }
  40% {
    clip-path: inset(93% 0 7% 0); }
  43.33333% {
    clip-path: inset(32% 0 4% 0); }
  46.66667% {
    clip-path: inset(96% 0 3% 0); }
  50% {
    clip-path: inset(69% 0 4% 0); }
  53.33333% {
    clip-path: inset(77% 0 11% 0); }
  56.66667% {
    clip-path: inset(21% 0 59% 0); }
  60% {
    clip-path: inset(56% 0 27% 0); }
  63.33333% {
    clip-path: inset(97% 0 3% 0); }
  66.66667% {
    clip-path: inset(85% 0 9% 0); }
  70% {
    clip-path: inset(33% 0 41% 0); }
  73.33333% {
    clip-path: inset(21% 0 29% 0); }
  76.66667% {
    clip-path: inset(57% 0 9% 0); }
  80% {
    clip-path: inset(28% 0 17% 0); }
  83.33333% {
    clip-path: inset(69% 0 6% 0); }
  86.66667% {
    clip-path: inset(43% 0 37% 0); }
  90% {
    clip-path: inset(71% 0 22% 0); }
  93.33333% {
    clip-path: inset(59% 0 42% 0); }
  96.66667% {
    clip-path: inset(54% 0 14% 0); }
  100% {
    clip-path: inset(40% 0 32% 0); } }
.post {
  padding: 25px;
  /* mind the gap */
  --aug-border: 2px;
  --aug-border-bg: #03efef;
  --aug-inset: 5px;
  --aug-inset-bg: #fdf6e3;
  --aug-l-height: 80%;
  --aug-l-width: 10px; }

.content {
  color: #303030;
  text-shadow: none;
  font-family: "Arvo", serif; }
  .content a {
    color: #001eff;
    text-shadow: none; }
    .content a:hover {
      color: #ff2b2b;
      text-shadow: 0px 0px 1px #ff2b2b; }

section#post-list {
  padding: 25px;
  /* mind the gap */
  --aug-border: 2px;
  --aug-border-bg: #03efef;
  --aug-inset: 5px;
  --aug-inset-bg: #fdf6e3;
  --aug-l-height: 80%;
  --aug-l-width: 10px; }
  section#post-list ul {
    background: #fdf6e3; }

.e-content {
  background: #fdf6e3; }

#toc, #meta, #comments {
  padding: 20px 10px;
  /* mind the gap */
  margin-bottom: 20px;
  font-size: 80%;
  --aug-inset: 5px;
  --aug-inset-bg: #ffeec1;
  --aug-border: 2px;
  --aug-border-bg: #ffeec1;
  --aug-b-width: 80%;
  --aug-b-height: 5px;
  --aug-r-width: 5px; }
  #toc p, #meta p, #comments p {
    padding: 0 10px;
    margin: 0; }

#comments {
  padding: 25px; }

.replit {
  background: #051D29 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAIAQMAAAAC1AcCAAAABlBMVEUAAAEAAAAd296qAAAAAnRSTlMzGn+aUXIAAAANSURBVAjXY2iAQigAABgQAgEG08l5AAAAAElFTkSuQmCC") repeat 300% 300%;
  animation: BackAnim 10s ease-in-out infinite;
  padding: 10px;
  font-family: '"Source Code Pro"', monospace;
  text-transform: lowercase;
  font-size: 90%;
  cursor: pointer;
  display: block;
  color: #03efef !important; }
  .replit:hover {
    color: #00ff9f !important;
    text-shadow: 0px 0px 1px #3fff2d !important; }

@keyframes Blink {
  50% {
    opacity: 0.0; } }
.blinking-cursor {
  animation: Blink 1s linear infinite; }

/*# sourceMappingURL=journal.css.map */
