*,
*::before,
*::after {
  box-sizing: border-box; }

@keyframes BackAnim {
  0% {
    background-position: 51% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 51% 0%; } }
@keyframes Flicker {
  0% {
    opacity: 0.8; }
  10% {
    opacity: 0.5; }
  20% {
    opacity: 0.9; }
  30% {
    opacity: 0.7; }
  40% {
    opacity: 0.9; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0.9; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.9; }
  90% {
    opacity: 0.8; }
  100% {
    opacity: 0.9; } }
html {
  background: #000;
  color: #93EDF5;
  text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.83);
  font-family: monospace;
  font-size: 1rem; }
  @media screen and (min-width: 800px) {
    html {
      font-size: 1rem; } }

.flick {
  animation: Flicker 10s ease-in-out infinite; }

body {
  line-height: 1.6; }

html,
body {
  margin: 0; }

h1,
p,
figure,
pre,
blockquote {
  margin: 0 0 1rem; }

p, ol, ul {
  text-align: justify; }

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #686868; }

figure .representation {
  display: block;
  margin: 0 0 .5rem; }

figure {
  text-align: center; }

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: right; }
  figcaption .original::before {
    content: ' ';
    display: block; }

img {
  max-width: 100%; }

blockquote {
  padding: 1rem;
  border-left: 5px solid #e5e5e5;
  color: #686868;
  font-style: italic; }
  blockquote p {
    margin: 0; }
  blockquote cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right; }

a {
  text-decoration: none;
  padding: 2px 0;
  color: #fd34b2;
  text-shadow: 0px 0px 5px #ff2b2b; }
  a:hover {
    border-bottom-color: currentColor;
    color: #ff2b2b; }

ol,
ul {
  margin: 0 0 1rem 2.25rem;
  padding: 0;
  list-style-position: outside; }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0; }

li {
  margin: 0; }

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help; }

kbd,
code,
pre {
  font-family: monospace; }

pre {
  max-width: 100%; }

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0; }

p code {
  background: #000;
  color: lime;
  display: inline-block;
  border-radius: 5px;
  font-family: monospace;
  font-size: 0.9rem;
  padding: 0px 5px 2px; }

.hljs {
  font-size: 0.9rem; }

article,
section {
  display: block;
  margin-bottom: 1rem; }

h1 {
  font-size: 1.5rem; }

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1.15rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.7rem; }

.container {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: .5rem; }
  @media screen and (min-width: 800px) {
    .container {
      padding: 1rem 0; } }

.site-header,
.site-nav {
  margin-bottom: 1rem; }
  .site-header h1,
  .site-nav h1 {
    margin-bottom: .5rem; }

.site-nav a::before {
  content: '\21b0';
  margin-right: .25rem; }

.site-footer {
  margin: 3rem 0 0;
  font-size: .8125rem; }
  .site-footer [itemprop="sameAs"] + [itemprop="sameAs"] {
    margin-left: .4rem; }
  @media screen and (min-width: 800px) {
    .site-footer {
      margin-bottom: .5rem; } }

.posts ol {
  margin-left: 0;
  list-style: none; }
.posts li {
  margin-bottom: .5rem; }
  @media screen and (min-width: 800px) {
    .posts li {
      display: flex;
      flex-direction: row; } }
.posts time {
  display: block; }
  @media screen and (min-width: 800px) {
    .posts time {
      flex: 0 0 5rem; } }
  .posts time + a {
    margin-left: 1rem; }
    @media screen and (min-width: 800px) {
      .posts time + a {
        margin-left: 2rem; } }

.post .post-header {
  margin-bottom: 3rem; }
.post .post-date {
  display: block;
  margin: 0 0 1rem;
  text-align: right; }

pre.example {
  background: #3f3f3f;
  padding: 10px;
  font-size: 0.7rem;
  color: #dcdccc;
  margin-top: -17px;
  border-radius: 0 0 10px 10px; }

ol {
  list-style: none;
  counter-reset: item; }

ol > li {
  counter-increment: item;
  margin-bottom: 5px; }

ol > li:before {
  content: "<" counter(item);
  color: #ff2b2b;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  font-weight: bold; }

ol > li:after {
  content: " />";
  color: #ff2b2b;
  opacity: 0.5; }

li p {
  margin: 0;
  display: inline; }

.timestamp {
  font-family: monospace !important;
  text-transform: uppercase; }

.post {
  padding: 25px;
  /* mind the gap */
  --aug-border: 2px;
  --aug-border-bg: #03efef;
  --aug-inset: 5px;
  --aug-inset-bg: #fdfdfd;
  --aug-l-height: 80%;
  --aug-l-width: 10px; }

.content {
  color: #303030;
  text-shadow: none;
  font-family: "Sans-Serif", serif;
  background-color: transparent; }
  .content a {
    color: #001eff;
    text-shadow: none; }
    .content a:hover {
      color: #ff2b2b;
      text-shadow: 0px 0px 1px #ff2b2b; }

section#post-list {
  padding: 25px;
  /* mind the gap */
  --aug-border: 2px;
  --aug-border-bg: #03efef;
  --aug-inset: 5px;
  --aug-inset-bg: #fdfdfd;
  --aug-l-height: 80%;
  --aug-l-width: 10px; }

#toc, #meta, #comments {
  padding: 20px 10px;
  /* mind the gap */
  margin-bottom: 20px;
  --aug-inset: 5px;
  --aug-border: 1px;
  --aug-border-bg: #e8e8e8;
  --aug-b-width: 80%;
  --aug-b-height: 5px;
  --aug-r-width: 5px; }
  #toc p, #meta p, #comments p {
    padding: 0 10px;
    margin: 0; }

#comments {
  padding: 25px; }

.replit {
  background: #000;
  padding: 10px;
  font-family: monospace;
  text-transform: lowercase;
  cursor: pointer;
  display: block;
  color: #03efef !important; }
  .replit:hover {
    color: #00ff9f !important;
    text-shadow: 0px 0px 1px #3fff2d !important; }

@keyframes Blink {
  50% {
    opacity: 0.0; } }
.blinking-cursor {
  animation: Blink 1s linear infinite; }

/*# sourceMappingURL=journal.css.map */
