{{ partial "top.html" . }}

<article class="post h-entry" augmented-ui="tr-clip l-clip-y r-clip-y tl-rect br-rect exe">
    <header class="post-header">
        <h1 class="post-title p-name glitch" data-text="{{ .Title }}">{{ .Title }}</h1>

        <a class="u-url" href="{{ .Permalink }}">
          <span class="p-author h-card" style="display:none;">{{ .Params.author | default .Site.Author.name }}</span>
          <time class="post-date dt-published glitch"
            data-text='{{ .Date.Format "02 Jan 2006" }}' datetime='{{ .Date.Format "2006-01-02 15:04:05 MST" }}'>
            {{ .Date.Format "02 Jan 2006" }}
          </time>
        </a>
    </header>
    <div id="toc" augmented-ui="tl-clip r-clip-y b-clip-x exe">
      <p>
        <strong>Table of Content:</strong>
      </p>
      <br />
      {{ if ne .Params.toc false }}
        {{ partial "toc.html" . }}
      {{ end }}
    </div>

    <div class="e-content" itemprop="articleBody">
      {{ emojify .Content }}
    </div>

    <div id="meta" augmented-ui="tl-clip r-clip-y b-clip-x exe">
      <p>
        {{ with .Params.categories }}
          <strong>Categories: </strong>
          {{ range . }}
            <a class="p-category" href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>,
          {{ end }}
        {{ end }}
        {{ with .Params.tags }}
          <strong>Tags: </strong>
          {{ range . }}
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>,
          {{ end }}
        {{ end }}
      </p>
      <p>
        {{ partial "share.html" . }}
      </p>
    </div>
    <div id="comments" augmented-ui="tl-clip r-clip-y b-clip-x exe">
      {{ partial "comments.html" . }}
    </div>
</article>
{{ partial "mathjax.html" . }}
{{ partial "bottom.html" . }}
