<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"><channel><title>شاهینیسم (server)</title><link>http://shahinism.github.io</link><description>بعضی وقت‌ها باید قبل از این که بتوانید راه بروید‌، بدوید‌!</description><lastBuildDate>Sun, 12 May 2013 20:01:16 GMT</lastBuildDate><generator>nikola</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>چ‌چ‌چ (۴)‌: ایجاد یک کاربرد جدید در MySQL</title><link>http://shahinism.github.io/posts/blog13900909chchch-4-yjd-ykh-khrbrd-jdyd-dr-mysql.html</link><description>&lt;p&gt;&lt;/p&gt;&lt;p&gt;وقتی که برای دسترسی به کارگزار (Server) پایگاه داده &lt;a title="چ‌چ‌چ (۳)‌: MySQL چیست‌؟" href="http://shahinism.com/blog/1390/09/09/%da%86%e2%80%8c%da%86%e2%80%8c%da%86-%db%b3%e2%80%8c-mysql-%da%86%db%8c%d8%b3%d8%aa%e2%80%8c%d8%9f/" target="_blank"&gt;MySQL&lt;/a&gt; از طریق مشتری‌ای (Client) نظیر mysql یا حتی زبان‌های برنامه نویسی نظیر php یا perl اقدام می‌کنید‌، به یک حساب کاربری نیاز دارید‌.
MySQL دارای سیستم مدیریت کاربر خبره‌ای است که قادر به کنترل کردن دسترسی کاربران از مشتری‌های مختلف به کارگزار می‌باشد‌. برای این کار MySQL از جداول مخصوص در پایگاه داده کمک می‌گیرد‌. به همین دلیل برای ساخت یک کاربر جدید در MySQL شما نیاز به کاربر root دارید‌.&lt;/p&gt;
&lt;p&gt;سپس باید با دستوری به MySQL اجازهٔ ساخت یک کاربر جدید را بدهید‌. و در آخر‌، با استفاده از کاربر جدید ارتباطی را با کارگذار MySQL برقرار کنید‌.&lt;/p&gt;
&lt;p&gt;لطفا توجه داشته باشید حساب کاربری در MySQL با اکانت‌های یونیکس‌/‌لینوکس متفاوت است‌. برای مثال‌، کاربر root در MySQL و کاربر root در یونیکس‌/‌لینوکس جدا از هم بوده و هیچ ارتباطی با هم ندارند‌، حتی اگر نام کاربریشان شبیه به هم باشد‌.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;&lt;h4&gt;روند ساخت یک حساب کاربری در MySQL&lt;/h4&gt;
&lt;p&gt;با استفاده از کاربر root برنامهٔ mysql وارد شوید (‌در پوستهٔ فرمان‌، دستور زیر را وارد کنید‌:):&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;&lt;span class="nv"&gt;$ &lt;/span&gt;mysql -u root -p
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;و یا&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;&lt;span class="nv"&gt;$ &lt;/span&gt;mysql -u root -h myserver-server. com -p
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;یک پایگاه دادهٔ جدید به اسم demo ایجاد کنید‌:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;mysql&amp;amp;gt; CREATE DATABASE demo;
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;یک کاربر جدید برای پایگاه داده demo به اسم user۱ بسازید‌:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;mysql&amp;amp;gt; GRANT ALL ON demo.* TO user1@localhost IDENTIFIED BY ‘mypassword’;
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;&lt;strong&gt;توجه‌:&lt;/strong&gt; GRANT ALL به این معنی است که کاربر قادر است هر کاری انجام دهد‌. می‌تواند اطلاعات را بخواند‌، دستکاری کند و یا پاکشان کند‌، اما تنها برای جداول موجود در پایگاه دادهٔ demo. او قادر به دسترسی به دیگر پایگاه‌های داده نیست‌.&lt;/p&gt;
&lt;h4&gt;من چطور می‌توانم با استفاده از حساب user۱ به کارگزار پایگاه داده MySQL متصل شوم؟&lt;/h4&gt;

&lt;p&gt;کاربر user۱ می‌تواند با استفاده از دستور زیر به حساب کاربری‌اش در پایگاه داده demo متصل شود‌:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;&lt;span class="nv"&gt;$ &lt;/span&gt;mysql -u user۱ -p demo
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;و یا‌:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre&gt;&lt;span class="nv"&gt;$ &lt;/span&gt;mysql -u user۱ -h mysql. server. com -p demo
&lt;/pre&gt;&lt;/div&gt;


&lt;p&gt;که پارامتر‌های دستور به شکل زیر معنا می‌شوند‌:&lt;/p&gt;
&lt;ul&gt;&lt;li&gt;‎-user1 : کاربر MySQL&lt;/li&gt;
    &lt;li&gt;‏‎-h : نام کارگزار MySQL (به صورت پیش‌فرض localhost)&lt;/li&gt;
    &lt;li&gt;‎-p : اعلان برای رمز عبور&lt;/li&gt;
    &lt;li&gt;demo: demo نام پایگاه داده در mysql می‌باشد (اختیاری)&lt;/li&gt;
&lt;/ul&gt;&lt;p style="text-align: center;"&gt;&lt;a title="MySQL user creation" href="http://www.cyberciti.biz/faq/mysql-user-creation/" target="_blank"&gt;منبع&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&lt;/p&gt;</description><category>MySQL</category><category>server</category><category>لینوکس</category><category>چی‌؟ چرا‌؟ چگونه‌؟</category><category>یونیکس</category><guid>http://shahinism.github.io/posts/blog13900909chchch-4-yjd-ykh-khrbrd-jdyd-dr-mysql.html</guid><pubDate>Wed, 30 Nov 2011 15:00:24 GMT</pubDate></item></channel></rss>