/* Colors */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$white:     #ffffff;
$gray:      #949494;
$gray-light: #e1e1e1;

.code .hll { background-color: #ffffcc }
.code {
    background: none repeat scroll 0 0 #fdf6e3;
    border: 1px solid $gray-light;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px;
}
.code .c { color: $base1; font-style: italic } /* Comment */
.code .err { border: 1px solid $red } /* Error */
.code .k { color: $green; font-weight: bold } /* Keyword */
.code .o { color: $base01 } /* Operator */
.code .cm { color: $base1; font-style: italic } /* Comment.Multiline */
.code .cp { color: $base0 } /* Comment.Preproc */
.code .c1 { color: $base0; font-style: italic } /* Comment.Single */
.code .cs { color: $base0; font-style: italic } /* Comment.Special */
.code .gd { color: $red } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: $red } /* Generic.Error */
.code .gh { color: $red; font-weight: bold } /* Generic.Heading */
.code .gi { color: $violet } /* Generic.Inserted */
.code .go { color: $base01 } /* Generic.Output */
.code .gp { color: $cyan; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: $violet; font-weight: bold } /* Generic.Subheading */
.code .gt { color: $blue } /* Generic.Traceback */
.code .kc { color: $green; font-weight: bold } /* Keyword.Constant */
.code .kd { color: $green; font-weight: bold } /* Keyword.Declaration */
.code .kn { color: $green; font-weight: bold } /* Keyword.Namespace */
.code .kp { color: $green } /* Keyword.Pseudo */
.code .kr { color: $green; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: $orange } /* Keyword.Type */
.code .m { color: $base0 } /* Literal.Number */
.code .s { color: $orange } /* Literal.String */
.code .na { color: $green } /* Name.Attribute */
.code .nb { color: $green } /* Name.Builtin */
.code .nc { color: $blue; font-weight: bold } /* Name.Class */
.code .no { color: $red } /* Name.Constant */
.code .nd { color: $magenta } /* Name.Decorator */
.code .ni { color: $base0; font-weight: bold } /* Name.Entity */
.code .ne { color: $orange; font-weight: bold } /* Name.Exception */
.code .nf { color: $blue } /* Name.Function */
.code .nl { color: $green } /* Name.Label */
.code .nn { color: $blue; font-weight: bold } /* Name.Namespace */
.code .nt { color: $green; font-weight: bold } /* Name.Tag */
.code .nv { color: $blue } /* Name.Variable */
.code .ow { color: $magenta; font-weight: bold } /* Operator.Word */
.code .w { color: $base1 } /* Text.Whitespace */
.code .mf { color: $base01 } /* Literal.Number.Float */
.code .mh { color: $base01 } /* Literal.Number.Hex */
.code .mi { color: $base01 } /* Literal.Number.Integer */
.code .mo { color: $base01 } /* Literal.Number.Oct */
.code .sb { color: $yellow } /* Literal.String.Backtick */
.code .sc { color: $yellow } /* Literal.String.Char */
.code .sd { color: $yellow; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: $yellow } /* Literal.String.Double */
.code .se { color: $orange; font-weight: bold } /* Literal.String.Escape */
.code .sh { color: $yellow } /* Literal.String.Heredoc */
.code .si { color: $magenta; font-weight: bold } /* Literal.String.Interpol */
.code .sx { color: $green } /* Literal.String.Other */
.code .sr { color: $magenta } /* Literal.String.Regex */
.code .s1 { color: $yellow } /* Literal.String.Single */
.code .ss { color: $blue } /* Literal.String.Symbol */
.code .bp { color: $green } /* Name.Builtin.Pseudo */
.code .vc { color: $blue } /* Name.Variable.Class */
.code .vg { color: $blue } /* Name.Variable.Global */
.code .vi { color: $blue } /* Name.Variable.Instance */
.code .il { color: $base01 } /* Literal.Number.Integer.Long */table.codetable { width: 100%;} td.linenos {text-align: right; width: 4em;}
