@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
    direction:rtl;
    font-family:'Raleway','Droid Arabic Naskh', serif;
}

header, footer,#navigation, .code, .metadata{
    direction: ltr;
}


