/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 * Fuck Google. He is not serving it for me like human since I'm Iranian
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidNaskh-Regular.eot);
  src: url(../fonts/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/DroidNaskh-Regular.woff2) format('woff2'),
  url(../fonts/DroidNaskh-Regular.woff) format('woff'),
  url(../fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidNaskh-Bold.eot);
  src: url(../fonts/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/DroidNaskh-Bold.woff2) format('woff2'),
  url(../fonts/DroidNaskh-Bold.woff) format('woff'),
  url(../fonts/DroidNaskh-Bold.ttf) format('truetype');
}

body {
  font-family: "Droid Arabic Naskh", "Raleway", sans-serif, Tahoma;
  background-color: #fafafa;
}

article {
  text-align: justify;
  line-height: normal;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e8e8e8;
}

article, article .metadata {
  border-bottom: 1px solid #e7eef2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.jumbotron {
  background: #303538 none no-repeat scroll center center / cover;
  background-image: url("/assets/images/bgc.png");
  height: 55vh;
  min-height: 180px;
  color: #fff;
  opacity: 0.8;
}

.site-footer {
  background: #f7fafb none repeat scroll 0 0;
  border-top: 1px solid #ebf2f6;
  color: #bbc7cc;
  font-size: 1.3rem;
  margin: 0;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

article img, article iframe {
  max-width: 100%;
  margin: 5px auto;
  display: block;
}

iframe {
  width: 100%;
}

nav.navbar {
  margin: 0;
  border-radius: 0;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  padding: 7px;
}

.social {
  margin: 20px 10px;
}

div.col-centered {
  margin: 0 auto;
  float: none;
}

div.publish-date {
  color: #cfcfcf;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

.entry-title a {
  color: #2b2b2b;
}

.p-summary.entry-summary {
    color: #8a8a8a;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

div#headerbox {
  margin-top: 25px;
  border-radius: 5px 5px 0 0;
}

pre, article .terminal, div#headerbox {
  border-width: 1px 1px 0;
  border-color: #e8e8e8;
  border-style: solid;
  background-color: #3c4556;
  padding: 10px;
  color: #BCC2CD;
}

article .terminal, pre {
  border-width: 1px 0;
  margin: 0 -20px;
}

.terminal, pre {
  direction: ltr;
  font-family: monospace;
  font-size: 11px;
}

.terminal ul li:after {
  content: "/";
}

.terminal ul li {
  list-style: none;
  margin: 0;
}

.terminal ul {
  padding-left: 5px;
}

.terminal ol {
  padding-left: 25px;
}

.terminal a {
  color: #8be9fd;
}

.prompt {
  color: #50fa7b;
}

.prompt:before {
  content: "shahin@5hah.in:~$ "
}

.cursor {
  animation: blink 1s linear infinite;
}

.cursor:after {
  content: "\2588"
}

@keyframes blink {  
  50% { opacity: 0.0; }
}

blockquote {
  font-size: inherit;
}

