/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 * Fuck Google. He is not serving it for me like human since I'm Iranian
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidNaskh-Regular.eot);
  src: url(../fonts/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidNaskh-Regular.woff2) format('woff2'),
       url(../fonts/DroidNaskh-Regular.woff) format('woff'),
       url(../fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidNaskh-Bold.eot);
  src: url(../fonts/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidNaskh-Bold.woff2) format('woff2'),
       url(../fonts/DroidNaskh-Bold.woff) format('woff'),
       url(../fonts/DroidNaskh-Bold.ttf) format('truetype');
}

body {
    font-family: "Droid Arabic Naskh", "Raleway", sans-serif, Tahoma;
}

article {
    text-align: justify;
    line-height: 2em;
}

article, article .metadata {
    border-bottom: 1px solid #e7eef2;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.jumbotron {
    background: #303538 none no-repeat scroll center center / cover;
    background-image: url("/assets/images/bgc.png");
    height: 55vh;
    min-height: 180px;
    color: #fff;
}

.site-footer {
    background: #f7fafb none repeat scroll 0 0;
    border-top: 1px solid #ebf2f6;
    color: #bbc7cc;
    font-size: 1.3rem;
    line-height: 1.7em;
    margin: 0;
    padding: 4rem 0;
    position: relative;
    text-align: center;
}

article img, article iframe {
    max-width: 100%;
    margin: 5px auto;
    display: block;
}

iframe {
    width: 100%;
}

nav.navbar {
    margin: 0;
    border-radius: 0;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    padding: 7px;
}

.social {
    margin: 20px 10px;
}

hr.hdrline {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0)) repeat scroll 0 0;
    border: 0 none;
    height: 1px;
}

.code {
    direction: ltr;
}